<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового пользователя</title>
    <style>
        form {
            line-height: 1.7;
        }
    </style>
</head>
<body>
<h2>Добавление в БД нового пользователя</h2>
<form th:method="POST" th:action="@{/people}" th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors = "*{name}">Name error</div>
    <br/>
    <label for="lastname">Введите фамилию</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors = "*{lastname}">LastName error</div>
    <br/>
    <label for="age">Введите возраст</label>
    <input type="number" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors = "*{age}">Age error</div>
    <br/>
    <label for="email">Введите адрес электронной почты</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">Email error</div>
    <br/>
    <input type="submit" value="Создать нового пользователя!">
</form>
</body>
</html>